$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    
  }
}
.navbar {
  background-color: #fff;
  border: none;
}
.navbar-brand {
  font-size: 40px;
}
.navbar-collapse {
  border: none;
  float: right;
}
.nav-pills {
  padding-left: 80px;
  padding-right: 0;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > h3 {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  background-color: #428bca;
  height: 350px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  position: relative;

  .strings {
    position: absolute;
    top: 20px;
    margin:0 auto;
    right: 0;
    left: 0;
    z-index: 2;
    div {
      display: inline-block;
      background-color: #99A8A7;
      width:5px;
      height:302px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .frets {
    //background-color: #AB723A;
    position: absolute;
    top: 20px;
    margin:0 auto;
    width: 198px;
    right: 0;
    left: 0;
    z-index: 1;
    div {
      border-radius: 100px;
      display: inline-block;
      background-color: #333333;
      width:198px;
      height:5px;
      margin-bottom:64px;
    }
  }
  .fingers {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #03C800;
    z-index: 3;
    right: 0;
    margin: 0 auto;
    left: 37px;
    top: 120px;
    color: #7560BB;
    font-size: 20px;
    font-weight: bold;
    div {

    }
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }   

  .navbar-collapse {
    
    float: right;
  }
  .nav-pills {
    /*padding-left: 80px;
    padding-right: 0;*/
  }                                                                         

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
