<div class="jumbotron">
  <div class="strings"> 
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="frets">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <div class='fingers'>
    <div>A</div>
    <div></div>
    <div></div>
  </div>

  <!--<div class="string6">
  </div>

  <div class="string5">
  </div>
 
  <div class="string4">
  </div>

  <div class="string3">
  </div>

  <div class="string2">
  </div>

  <div class="string1">
  </div>

  <div class="fret1">
  </div>

  <div class="fret2">
  </div>
 
  <div class="fret3">
  </div>

  <div class="fret4">
  </div>

  <div class="fret5">
  </div>

  <div class="fret6">
  </div>-->

</div>

<div class="row marketing">
  
</div>
